{% extends "base.html" %} {% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 text-center">
			<h1> Our Variables</h1>
		</div>
	</div>
</div>

<!-- Xo -->
<div class="container-fluid  thirdback">
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4 text-center whitetop">
				<h1> Xo: Impact Council </h1>
			</div>
		</div>


<!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top text-center">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-arrow-circle-left"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
    <!--/.Controls-->


    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!--/.Third slide-->
    </div>
    <!--/.Slides-->

  </div>
<!--/.Carousel Wrapper-->

  </div>
</div>



<!-- X1 -->
<div class="container-fluid  whiteback">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center whitetop">
        <h1> Xo: Impact Council </h1>
      </div>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="far fa-credit-card offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title">$3 <small class="text-muted">/week</small></h1>
          <p style="margin-left:3em;margin-right:3em">
            100% of our operation is funded by our  s<span class="x-1">X</span><span class="i-1">i</span> leaders. As leaders creating social impact, you are the critical <span class="x-1">X</span> variable and we want to make sure you are our only priority. Join our s<span class="x-1">X</span><span class="i-1">i</span> community by providing us with a weekly contribution as small as $3.
          </p>
          <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script><a class="dbox-donation-button btn btn-lg btn-block btn-outline-primary mt-auto" href="https://donorbox.org/socialximpact?default_interval=w">Join the sXi community!</a>
          <!--
          <form action="https://donorbox.org/socialximpact" method="get" target="_blank">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary mt-auto"> Join our community!</button>
          </form>
          -->
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="fas fa-funnel-dollar offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title"> 100% Other Revenue</h1>
            <p style="margin-left:3em;margin-right:3em">
              As part of our commitment to social impact, we promise to donate 100% of all our other funding to our impact leaders. Their work is critical to solving the largest social issues in the United States.
            </p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="fas fa-funnel-dollar offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title"> 100% Other Revenue</h1>
            <p style="margin-left:3em;margin-right:3em">
              As part of our commitment to social impact, we promise to donate 100% of all our other funding to our impact leaders. Their work is critical to solving the largest social issues in the United States.
            </p>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- X2 -->
<div class="container-fluid  thirdback">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center whitetop">
        <h1> Xo: Impact Council </h1>
      </div>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="far fa-credit-card offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title">$3 <small class="text-muted">/week</small></h1>
          <p style="margin-left:3em;margin-right:3em">
            100% of our operation is funded by our  s<span class="x-1">X</span><span class="i-1">i</span> leaders. As leaders creating social impact, you are the critical <span class="x-1">X</span> variable and we want to make sure you are our only priority. Join our s<span class="x-1">X</span><span class="i-1">i</span> community by providing us with a weekly contribution as small as $3.
          </p>
          <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script><a class="dbox-donation-button btn btn-lg btn-block btn-outline-primary mt-auto" href="https://donorbox.org/socialximpact?default_interval=w">Join the sXi community!</a>
          <!--
          <form action="https://donorbox.org/socialximpact" method="get" target="_blank">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary mt-auto"> Join our community!</button>
          </form>
          -->
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="fas fa-funnel-dollar offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title"> 100% Other Revenue</h1>
            <p style="margin-left:3em;margin-right:3em">
              As part of our commitment to social impact, we promise to donate 100% of all our other funding to our impact leaders. Their work is critical to solving the largest social issues in the United States.
            </p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <i class="fas fa-funnel-dollar offtop"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h1 class="card-title pricing-card-title"> 100% Other Revenue</h1>
            <p style="margin-left:3em;margin-right:3em">
              As part of our commitment to social impact, we promise to donate 100% of all our other funding to our impact leaders. Their work is critical to solving the largest social issues in the United States.
            </p>
        </div>
      </div>      
    </div>
  </div>
</div>

{% endblock %}