{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-md-4 offset-md-4">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.data.label }}<br>
            {{ form.data(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </div>
</div>
{% if data %}
<div class="row">
  <div class="col">
    <p> Data analysis </p>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col">
    <p> No data </p>
  </div>
</div>

{% endif %}




{% endblock %}